name: Deploy
on:
  push:
    tags: [ 'v*' ]

jobs:
  deploy:
    name: Deploy
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Deploy release
        run: ./gradlew -Dorg.gradle.parallel=true publish --no-daemon --stacktrace -Dorg.gradle.internal.http.socketTimeout=90000 -Dorg.gradle.internal.http.connectionTimeout=90000
        env:
          ORG_GRADLE_PROJECT_paperUsername: ${{ secrets.DEPLOY_USER }}
          ORG_GRADLE_PROJECT_paperPassword: ${{ secrets.DEPLOY_PASS }}
      - name: Parse tag
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      - name: Create release and changelog
        uses: MC-Machinations/auto-release-changelog@v1.1.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: sculptor ${{ steps.vars.outputs.tag }}
